/** Default button styles */
.wp-element-button {
  transition: background-color var(--hover-transition-duration,.2s) var(--hover-transition-timing,ease);
}

.wp-block-navigation__responsive-container:not(.is-menu-open) :where(.wp-block-navigation__submenu-container) a,
.wp-block-navigation__responsive-container:not(.is-menu-open) :where(.wp-block-navigation__submenu-container) .wp-block-navigation-submenu__toggle {
  padding: var(--wp--preset--spacing--small) var(--wp--preset--spacing--medium) !important;
}

/* Drop nav link padding */
.wp-block-navigation__responsive-container:not(.is-menu-open) :where(.wp-block-navigation__submenu-container) a {
  padding: clamp(.375rem, 2.25vw, 0.75rem) clamp(1.25rem, 3vw, 1.5rem) !important;
}

